@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behaviour: smooth;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('/img/head-page/1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 130vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.logo{
    margin-left: 20px;
    margin-top: 10px;
}

.logo img{
    height: 10vh;
}

.logo h3{
    color: #d2d741;
    font-size: 20px;
    margin-top: -40px;
    margin-left: 85px;
}

.user{
    cursor: pointer;
    color: #F9EBC2;
    margin-top: 15px;
    margin-right: 40px;
}
.user a{
    text-decoration: none;
    color: #F9EBC2;
    background-color: #AA463A;
    border-radius: 10px;
    padding: 10px 20px;
}
.user a:hover{
    background-color: #F9EBC2;
    color: #AA463A;
    font-weight: bolder;
}
.user i{
    font-size: 20px;
    margin-right: 10px;
    padding: 0px 14px
}
.headpage{
    position: absolute;
    color: #ebeff5;
    margin-top: 100px;
    margin-left: 100px;
}
.inside-headpage{
    line-height: 1.2;
}
.inside-headpage h1{
    font-size:40px;
}
.inside-headpage p{
    font-size: 16px;
}
span{
    color: #AA463A;
    font-weight: bold;
}
.line1{
    height: 2px;
    color: #d2d741;
    width: 12%;
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;
}
.poster{
    margin-top: 130px;
    margin-right: 150px;
}
.poster img{
    height: 320px;
    float: right;
    boarder-radius: 10px;
}
.btn1{
    margin-top: 30px;
}
.btn1 a{
    text-decoration: none;
    color: #F9EBC2;
    padding: 10px 25px;
    background: #AA463A;
    border-radius: 20px;
}
.btn1 a:hover{
    background: #F9EBC2;
    color: #AA463A;
    font-weight: bolder;
}
.btn1 i{
    color: #F9EBC2;
    padding: 0px 10px;
}
.btn1 i:hover{
    color: #AA463A;
}